@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  transition: all 1s ease;
  font-size: 1.5rem;
  background-color: #c8c5cb;
  overflow-x: hidden;

}
.container{
  padding: 1rem;
  background-image: url(../Images/Background\ \(1\).png);
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 4rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #9c54a6b3;
  border-radius: 2rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select,
input[type="text"]::placeholder {
  font: inherit;
}
textarea {
  resize: none;
}
input:focus {
  transition: all 0.3s ease-in-out;
  outline: 0;
}
